<li class='contact__item contact-item__layout'>
  <div class='contact-item__icon-container'>
    <a href='{{link}}' target='_blank'>
      <i class='contact__icon icon icon--{{type}}'></i>
    </a>
  </div>
  <p class='contact-item__label'>{{type}}</p>
  <a href='{{link}}' target='_blank' class='contact-item__icon-link'>
    {{name}}
  </a>
</li>
