<li class="contact">
	<div class="contact-item__icon-container">
		<a href="{{link}}" target="_blank">
			<svg class="icon">
				<use href="/assets/images/icons.svg#icon-{{type}}"></use>
			</svg>
		</a>
	</div>
	<p class="contact-item__label">
		{{type}}
	</p>
	<a href="{{link}}" target="_blank" class="contact-item__icon-link">
		{{name}}
	</a>
</li>
